.card {
  width: 250px;
  background-color: gray;
  border: 1px solid black;
  border-radius: 20px;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;

  &__grid {
    grid-auto-rows: 1fr;
    display: grid;
    @media (min-width: $media-sm) {
      grid-template-columns: repeat(1, max-content);
    }
    @media (min-width: $media-md) {
      grid-template-columns: repeat(2, max-content);
    }
    @media (min-width: $media-lg) {
      grid-template-columns: repeat(4, max-content);
    }
  }

  &__img {
    height: 30%;
    width: 100%;
    display: flex;
    border-radius: 10px;
  }
  &__title {
    margin-top: 1rem;
    font-size: larger;
  }
  &__desc {
    max-width: fit-content;
    word-wrap: break-word;
    flex-grow: 1;
  }
  &__footer {
    display: flex;
    justify-content: space-between;
  }
  &__button--1 {
    background-color: olive;
    padding: 10px 30px;
    border-radius: 10px;
  }
  &__button--2 {
    background-color: darkgray;
    padding: 10px 30px;
    border-radius: 10px;
  }
}
