.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  margin-bottom: 2rem;
  &--transform {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 40%;
  }
  &--title {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 40%;
    font-weight: bold;
  }
}
