//colors
$red: #ff0000;
$black: #000;
$header-background: #ebebeb;
$primary-color: #a8a8a8;
$secondary-color: #000000;

//Breakpoints
$media-sm: 37.5em;
$media-md: 48em;
$media-lg: 62em;
$media-xl: 75em;
